Source: zdma-dkms
Maintainer: Zendar <infrastructure@zendar.io>
Build-Depends: debhelper (>= 9), dkms

Section: devel
Priority: optional
Package: zdma-dkms
Architecture: all
Depends: ${misc:Depends}
Description: DKMS source for the Zendar DMA driver.
